#dgl>=1.1.0
networkx>=2.5
numpy>=1.19.5
pandas>=1.1.5
tensorboard>=2.6.0
#pip3 install dgl dglgo -f https://data.dgl.ai/wheels/repo.html
#pip3 install torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/cpu
#pip3 install torch-scatter -f https://data.pyg.org/whl/torch-1.10.2+cpu.html
#pip3 install torch-sparse -f https://data.pyg.org/whl/torch-1.10.2+cpu.html
#pip3 install torch-geometric
ipython
ipython_genutils
datasci_tools @ git+https://git@github.com/bacelii/datasci_tools.git
neuron_morphology_tools @ git+https://git@github.com/bacelii/neuron_morphology_tools.git

